@import url("/common.css");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --height-footer: 3rem;
  --color-link: hsl(209, 100%, 85%);
  --color-link-focus: hsl(209, 100%, 90%);
  --bg-footer: var(--dark-blue);
  --color-footer: var(--white);
  --bg-app: var(--light-gray);
  --font-size-app: 16px;
  --font-family-app: "Outfit", sans-serif;
}

.card-container {
  display: flex;
  min-height: 100vh;
  padding: 1.5rem 1.5rem var(--height-footer);
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 320px;
  max-height: 500px;
  background-color: var(--white);
  padding: 1rem 1rem 3rem;
  border-radius: 1rem;
  text-align: center;
}

.card-img {
  border-radius: 0.75rem;
  width: 100%;
}

.card-title {
  font-size: 1.375rem;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--dark-blue);
}

.card-title,
.card-body {
  padding: 0 0.75rem;
}

.card-body {
  font-size: 0.9375rem;
  color: var(--grayish-blue);
}
